<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Add Job Role Form</h1>
        <form method="post" action="/add_role">
            <label for="company_name">Company Name:</label>
            <input type ="text" id="company_name" name="company_name" required><br><br>
            <label for="job_tistle">Job Title:</label>
            <input type ="text" id="job_title" name="job_title" required><br><br>
            <label for="job_description">Job Description:</label>
            <input type ="text" id="job_description" name="job_description" required><br><br>
            <label for="responsibilites">Responibilites:</label>
            <input type ="text" id="responsibilites" name="responsibilites" required><br><br>
            <label for="qualifications">Qualifications/Skills:</label>
            <input type ="text" id="qualifications" name="qualifications" required><br><br>
            <label for="experience_required">Experience Required:</label>
            <input type ="text" id="experience_required" name="experience_required" required><br><br>
            <input type="submit" value="Submit">
            </form>
        </body>
</html>